NetFW/Connected Services/ServicoSoapPaciente/ServicoSOAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMeusPacientes">
        <s:complexType />
      </s:element>
      <s:element name="GetMeusPacientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMeusPacientesResult" type="tns:ArrayOfPacienteTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPacienteTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PacienteTO" nillable="true" type="tns:PacienteTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PacienteTO">
        <s:complexContent mixed="false">
          <s:extension base="tns:TOBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NomeMae" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Nascimento" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Sexo" type="tns:SexoEnum" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TOBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:StatusEmRelacaoAoBanco" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="StatusEmRelacaoAoBanco">
        <s:restriction base="s:string">
          <s:enumeration value="NaoModificado" />
          <s:enumeration value="Modificado" />
          <s:enumeration value="Adicionado" />
          <s:enumeration value="Excluido" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="SexoEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Masculino" />
          <s:enumeration value="Feminino" />
          <s:enumeration value="NaoInformado" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetPacientePorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPacientePorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPacientePorIdResult" type="tns:PacienteTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizaPaciente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paciente" type="tns:PacienteTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AtualizaPacienteResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMeusPacientesSoapIn">
    <wsdl:part name="parameters" element="tns:GetMeusPacientes" />
  </wsdl:message>
  <wsdl:message name="GetMeusPacientesSoapOut">
    <wsdl:part name="parameters" element="tns:GetMeusPacientesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPacientePorIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetPacientePorId" />
  </wsdl:message>
  <wsdl:message name="GetPacientePorIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetPacientePorIdResponse" />
  </wsdl:message>
  <wsdl:message name="AtualizaPacienteSoapIn">
    <wsdl:part name="parameters" element="tns:AtualizaPaciente" />
  </wsdl:message>
  <wsdl:message name="AtualizaPacienteSoapOut">
    <wsdl:part name="parameters" element="tns:AtualizaPacienteResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicoSOAPSoap">
    <wsdl:operation name="GetMeusPacientes">
      <wsdl:input message="tns:GetMeusPacientesSoapIn" />
      <wsdl:output message="tns:GetMeusPacientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPacientePorId">
      <wsdl:input message="tns:GetPacientePorIdSoapIn" />
      <wsdl:output message="tns:GetPacientePorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AtualizaPaciente">
      <wsdl:input message="tns:AtualizaPacienteSoapIn" />
      <wsdl:output message="tns:AtualizaPacienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicoSOAPSoap" type="tns:ServicoSOAPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMeusPacientes">
      <soap:operation soapAction="http://tempuri.org/GetMeusPacientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPacientePorId">
      <soap:operation soapAction="http://tempuri.org/GetPacientePorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizaPaciente">
      <soap:operation soapAction="http://tempuri.org/AtualizaPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicoSOAPSoap12" type="tns:ServicoSOAPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMeusPacientes">
      <soap12:operation soapAction="http://tempuri.org/GetMeusPacientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPacientePorId">
      <soap12:operation soapAction="http://tempuri.org/GetPacientePorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizaPaciente">
      <soap12:operation soapAction="http://tempuri.org/AtualizaPaciente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicoSOAP">
    <wsdl:port name="ServicoSOAPSoap" binding="tns:ServicoSOAPSoap">
      <soap:address location="http://localhost:50416/ServicoSOAP.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicoSOAPSoap12" binding="tns:ServicoSOAPSoap12">
      <soap12:address location="http://localhost:50416/ServicoSOAP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>